/* common */
.ms_black{
    color: black;
}
.ms_white{
    color: white;
}
.ms_azure{
    color: rgb(0, 112, 209);
}

.ms_rounded-25px{
    border-radius: 25px;
}

.ms_width-20px{
    width: 20px;
}

._ms-height500px{
    height: 500px;
}

.ms_filter-opacity{
    filter: opacity(0.5);
}
/* header */
header{
    width: 100%;
}

.ms_dropdown-toggle{
    width: 10px;
}

.ms_dropdown-toggle-layover{
    width: 10px;
    display: none;
}

a.ms_black:hover .ms_black{
    color: rgb(0, 112, 209);
    transition: .45s ease-in-out;
}

.ms_black:hover .ms_dropdown-toggle-layover{
    display: inline-block;
    transition: .45s ease-in-out;
}

.ms_black:hover .ms_dropdown-toggle{
    display: none;
    transition: .45s ease-in-out;
}

.top-header{
    height: 30px;
    background-color: black;
}

/* jumbotron */
.top-jumbo{
    margin-top: 106px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}

.ms_jumbo-banner-rounded{
    border-radius: 15px;
}

.bottom-jumbo .ms_img-container:hover{
    border: 3px solid rgb(13, 121, 208);
    border-radius: 15px;
    padding: .25rem;
    margin-bottom: -8px;
}

/* play-5 */
#play-5 .ms_filter-opacity:hover{
    filter: opacity(1);
    border-bottom: 3px solid rgb(59, 147, 217);
    margin-bottom: -2px;
}

/* section new-games */
.top-new-games{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.bottom-new-games{
    background-color: rgb(31, 31, 31);
}

/* section Playstation plus */
#playstation-plus{
    background-color: rgb(190, 188, 187);
}

/* section playstation now */
#playstation-now{
    background-color: rgb(22, 28, 59);
}

/* footer */
footer{
    background-color: rgb(0, 67, 156);
}






